
    @font-face {
        font-family: "Lato-Black";  
        src: url("../fonts/Lato-Black.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }
    @font-face {
        font-family: "Lato-Light";  
        src: url("../fonts/Lato-Light.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }
    @font-face {
        font-family: "Lato-Regular";  
        src: url("../fonts/Lato-Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }


    @font-face {
        font-family: "OpenSans-Bold";  
        src: url("../fonts/OpenSans-Bold.TTF") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }

    @font-face {
        font-family: "OpenSans-ExtraBold";  
        src: url("../fonts/OpenSans-ExtraBold.TTF") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }
    @font-face {
        font-family: "OpenSans-Italic";  
        src: url("../fonts/OpenSans-Italic.TTF") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }
    @font-face {
        font-family: "OpenSans-Light";  
        src: url("../fonts/OpenSans-Light.TTF") format("truetype"); 
        font-style: normal; 
        font-weight: 100;
    }
    @font-face {
        font-family: "OpenSans-Regular";  
        src: url("../fonts/OpenSans-Regular.TTF") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    }