a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
table,table td{padding:0;border:none;border-collapse:collapse;}
img{vertical-align:top;}
embed{vertical-align:top;}
input[type=text],textarea{outline:none;border-radius:0;}

*{
    box-sizing: border-box;
}
/* !Убираем ненужное */

:root {
    --color-one: #111;
    --color-two: #fff;
    --color-three: #989898;
    --color-four: #e8ab4e;
    --color-five: #c3c3c3;
    --color-six: #5a5a5a;
    --color-seven: #272727;
}
body{
    background-color: #111;
}
.svg-cont{
    display: none;
}

section header h2{
    font-size: 44px;
    font-family: "OpenSans-Light",sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}
section header span{
    font-family: "OpenSans-SemiBold";
}
.white_theme{
    background-color: var(--color-two);
}
.dark_theme{
    background-color: var(--color-one);
}
section.white_theme header h2{
color: var(--color-seven);
}
section.white_theme header span{

}
section.dark_theme header h2{
    color: var(--color-two);
}
section.dark_theme header span{
    
}

.constraint{
    padding: 100px 9%;
}

/* ////////////////////////////////////////// HEADER */
header.header{
    background-color: rgba(17, 17, 17, 0.5);
    position: absolute;
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: space-between;
    z-index: 999;
    padding-top: 0;
    padding-bottom: 0;
}

.f-h-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{

}
.logo p{
    font-size: 28px;
    height: max-content;
}

.logo p,nav a{
    color: var(--color-two);
    font-family:"Lato-Black";
}

nav{
    
}

nav ul{
    
}

nav ul {
    
}

nav li {
    padding-right: 20px;
}
nav li:last-child {
    padding-right: 0px;
}

nav a{
    font-size: 14px;
   text-transform: uppercase;
}

/* ////////////////////////////////////////// HEADER */

/* ////////////////////////////////////////// MAIN START-VIDEO */
main{
 display: flex;
 flex-direction: column;
}

main section{
    
}

section{

}

section.Start_video{
    height: 100vh;
    width: 100%;
    background-color: var(--color-one);
    position: fixed;
    overflow: hidden;
}

.Start_video header{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}

.Start_video .container{
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(17, 17, 17, 0.650);
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}
.Start_video h1{
    color: var(--color-three);
    font-family: "OpenSans-Light";
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    
}

.Start_video h1 span{
    color: var(--color-four);
    font-family: "OpenSans-Bold"; 
}

.Start_video p{
    margin-top: 15px;
    font-size: 20px;
    font-family: "OpenSans-Regular";
    text-align: center;
    color: var(--color-three);
}

.Start_video p span{
    font-family: "OpenSans-SemiBold";
    color: var(--color-five);
}

.Start_video video {
    top: 0 ;
    /* height: 100vh; */
    width: 99.8vw;
    display: flex;
  position: absolute;
  z-index: 1;
}


/* video::-webkit-media-controls {
    display:none !important;
  } */
/* ////////////////////////////////////////// MAIN START-VIDEO */


/* ////////////////////////////////////////// MAIN ABOUT-US */ 
section.About_us{
    width: 100%;
    margin-top: 100vh;
    background-color: var(--color-two);
    position: relative;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
    .About_us .image_cont{
        position: relative;
        display: flex;
        width: max-content;
        height: 100%;
    }
    .About_us .comp{
        z-index: 3;
        height: 500px;
        width: 600px;
        /* display: none; */
    }

    .About_us .comp_shadow{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 2;
        height: 132%;
        width: 145%;
        border-radius: 20px;
    }

    .About_us .text{
        width: 46%;
        z-index: 3;
    }
    .About_us h3,.About_us h2{
        text-transform: uppercase;

    }
    .About_us h3{
        font-size: 20px;
        font-family: "OpenSans-Light";
        color: var(--color-three);
    }

    .About_us h2{
        font-size: 34px;
        font-family: "OpenSans-Light";
        text-align: left;
        font-weight: bold;
    }
    .About_us h2 span{
        font-family: "OpenSans-Bold";
    }
    .About_us .desc{
        margin: 50px 0;
        width: 68%;
        font-size: 18px;
        font-family: "OpenSans-Regular";
        color: var(--color-three);
    }
    .About_us ul{
       margin-bottom: 50px;
    }

    .About_us li.item{
       display: flex;
       align-items: center;
        margin-bottom: 10px;
    }

    .About_us .item p{
        font-family: "OpenSans-Italic";
        font-size: 16px;
        color: var(--color-three);
        display: flex;
        align-items: center;
    }
    .About_us .item span{
        font-family: "OpenSans-SemiBold";
        font-size: 18px;
        color: var(--color-six);
        margin-right: 5px;
    }

    .About_us i{
        color: var(--color-six);
        margin-right: 10px;
    }
    .About_us button{
        background-color: transparent;
        border: 1px solid var(--color-six);
        color: var(--color-six);
        font-family: "OpenSans-SemiBold";
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px 20px;
        border-radius: 5px;
    }
   /* ////////////////////////////////////////// MAIN ABOUT-US */


    





    /* ////////////////////////////////////////// MAIN OUR-TEAM */ 
    section.Our_team{
        width: 100%;
        background-color: var(--color-five);
        position: relative;
        background-color: #111;
     
    }

    .Our_team header{
        margin-bottom: 130px;
    }

    .Our_team h2{
        
    }

    .Our_team .list{
        display: flex;
        justify-content: space-around;
    }

    .Our_team .item{
        display: flex;
        flex-direction: column;
        width: 20%;
        align-items: center;
    }

    .Our_team .eclipse{
        width: 127px;
        height:127px ;
        background-color: #c3c3c3;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .Our_team p{
        text-align: center;
        color: var(--color-two);
    }
    .Our_team .name{
        font-size: 20px;
        font-family: "OpenSans-Bold";
    }
    .Our_team .position{
        font-size: 16px;
        font-family: "OpenSans-Regular";
    }
    .Our_team .description{
        margin-top: 30px;
        font-size: 14px;
        font-family: "OpenSans-Regular";
        padding: 0 9%;
        line-height: 1.3vw;
    }

    /* ////////////////////////////////////////// MAIN OUR-TEAM */


    /* ////////////////////////////////////////// MAIN OUR-SERVICES */ 


        section.Our_services{
            width: 100%;
            position: relative;
           
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .Our_services header{
            margin-bottom: 90px;
        }
        .Our_services blockquote{
            font-family: "OpenSans-Italic";
            font-size: 16px;
            color: var(--color-six);
            margin-bottom: 100px;
            text-align: center;
            width: 80%;
            line-height: 1.4vw;
        }
        .Our_services .list{
            display: flex;
           
            justify-content: space-around;
        }
    
        .Our_services .item{
            display: flex;
            flex-direction: column;
            width: 20%;
            align-items: center;
        }
        .Our_services .eclipse{
            width: 127px;
            height:127px ;
            background-color: transparent;
            border: 5px solid var(--color-four);
            border-radius: 50%;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Our_services svg{
            width: 50%;
            height: 50%;
            color: var(--color-one);
            fill: var(--color-one);

        }
        .Our_services .serv_name{
            text-transform: uppercase;
            font-size: 25px;
            font-family: "OpenSans-Bold";
            margin-bottom: 15px;
        }
        .Our_services .description{
            text-align: center;
            font-family: "OpenSans-Regular";
            font-size: 14px;
            padding: 0 9%;

        }
        .Our_services .svg_serv{
            color: var(--color-one);
            fill: var(--color-one);
        }

    /* //////////////////////////////////////////  MAIN OUR-SERVICES */ 

   

    /* ////////////////////////////////////////// MAIN OUR-CLIENTS */ 


    section.Our_clients{
        width: 100%;
        position: relative;
        height: 500px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Our_clients header{
        margin-bottom: 90px;
    }
    .Our_clients .list{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .Our_clients .item{
        display: flex;
        align-items: flex-end;
        width: max-content;
        justify-content: flex-end;
    }


    /* ////////////////////////////////////////// MAIN OUR-CLIENTS */ 


    /* ////////////////////////////////////////// MAIN OUR-WORK */ 


    section.Our_work{
        width: 100%;
        position: relative;
    
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Our_work header{
        margin-bottom: 90px;
    }
    .Our_work blockquote{
        font-family: "OpenSans-Italic";
        font-size: 16px;
        color: var(--color-six);
        margin-bottom: 100px;
        text-align: center;
        width: 80%;
        line-height: 1.4vw;
    }
    .Our_work .list{
        width: 100%;
    }
    .Our_work .list_heading{
        width: 100%;
       display: flex;
       justify-content: space-between;
    }
    .Our_work .title{
        color: var(--color-one);
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    .Our_work .title,.Our_work .categories p{
        font-family: "OpenSans-SemiBold";
        font-size: 18px;
    }

    .Our_work .categories{
        display: flex;
        justify-content: space-between;
       align-items: center;
    }

    .Our_work .categories p{
       color: var(--color-three);
      
    }

    .Our_work .categories p.active{
        
        color: var(--color-six);
    }

    .Our_work .categories hr{
        background-color: var(--color-three);
        height: 20px;
        border: none;
        width: 2px;
        margin: 0 15px;
    
    }

    .Our_work .categories p:last-child{
        margin-right: 0px;
    }

    .Our_work .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }

    .Our_work .item{
        width: 22.2%;
        height: 15vw;
        background-color: #111;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
    }

    .Our_work .item img{
        width: 100%;
        height: 100%;
    }
    .Our_work .item:hover .item_hover{
        opacity: 1;
    }   
    .Our_work .item_hover{
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: var(--color-seven);
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: opacity ease-in-out 0.4s;
    }

    .Our_work .item_hover .caption,.Our_work .item_hover .category{
        text-align: center;
        color: var(--color-two);
        user-select: none;
    }
    .Our_work .item_hover .caption{
        text-transform: uppercase;
        font-family: "OpenSans-SemiBold";
        font-size: 24px;
        margin-top: 65px;
        margin-bottom: 5px;
    }
    .Our_work .item_hover .category{
        font-family: "OpenSans-SemiBold";
        font-size: 16px;
        color: #c3c3c3;
    }
    .Our_work .item_hover svg{
        margin-top: 25px;
        width: 16%;
        height: 16%;
        fill: var(--color-four);
        cursor: pointer;
    }
    .Our_work .item_hover svg use:last-child{
        opacity: 0;
    }
    .Our_work .item_hover svg:hover use:first-child{
        opacity: 0;
    }
    .Our_work .item_hover svg:hover use:last-child{
        opacity: 1;
    }

    /* ////////////////////////////////////////// MAIN OUR-WORK  */ 


    /* ////////////////////////////////////////// MAIN OUR-TESTIMONIALS */ 


    section.Our_testimonials{
        width: 100%;
        position: relative;
        height: 500px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Our_testimonials header{
        margin-bottom: 90px;
    }
    .Our_testimonials .quote{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .Our_testimonials blockquote{
        font-family: "OpenSans-SemiBold";
        font-size: 18px;
        color: var(--color-six);
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        width: 80%;
        line-height: 1.4vw;
        color: var(--color-two);
    }
    .Our_testimonials .name{
        color: var(--color-three);
        font-family:"OpenSans-SemiBold" ;
        font-family:"OpenSans-Regular";
    }
    .Our_testimonials .name span{
        font-family:"OpenSans-SemiBold" ;
    }


    /* ////////////////////////////////////////// MAIN OUR-TESTIMONIALS */ 



    /* ////////////////////////////////////////// MAIN CONTACT-US */ 


    section.Contact_us{
        width: 100%;
        position: relative;

        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Contact_us header{
        margin-bottom: 90px;
    }
    .Contact_us blockquote{
        font-family: "OpenSans-Italic";
        font-size: 16px;
        color: var(--color-six);
        margin-bottom: 100px;
        text-align: center;
        width: 70%;
        line-height: 1.4vw;
    }
    .Contact_us form{
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .Contact_us .name, .Contact_us .email {
        width: 48%;
        display: flex;
        flex-direction: column;
        
        
    }
    .Contact_us label{
        display: flex;
        flex-direction: column;
        font-family: "OpenSans-SemiBold";
        color: var(--color-six);
        font-size: 14px;
    }
    .Contact_us label span{    
        margin-left: 5px;
        color: var(--color-four);
    }
    
    .Contact_us input,  .Contact_us textarea{
        margin-top: 10px;
    }
    .Contact_us input{
        height: 40px;
        outline: none !important;
        box-shadow: none;
        border: 1px solid var(--color-three);
        border-radius: 3px;
    }
    .Contact_us input:focus{
        outline: none !important;
        outline-offset: 0;
    }
    .Contact_us .mess{
        margin-top: 40px; 
        width: 100%;

    }
    .Contact_us .mess textarea{
        height: 200px;
        border: 1px solid var(--color-three);
    }
    .Contact_us .submit{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
    .Contact_us .submit input{
        width: 15%;
        color: var(--color-two);
        background-color: var(--color-four);
        border: none;
        border-radius: none;
        margin: 0;
        font-family: "OpenSans-SemiBold";
        font-size: 16px;
        
    }
    /* .Contact_us input:{
        outline: none;
        
    } */
    /* ////////////////////////////////////////// MAIN CONTACT-US */ 

     /* ////////////////////////////////////////// FOOTER COPYRIGHT */ 
     
     
    footer {
        height: 10vh;
        width: 100%;
        position: relative;
        background-color: var(--color-seven);
        /* align-items: center; */
        display: flex;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    footer .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer .copyright {
        
        font-size: 12px;
        font-family: "OpenSans-SemiBold";
        color: var(--color-three);
    }
    footer .copyright span {
        font-family: "OpenSans-Bold";
    }
    footer .soc-icons {
       
        display: flex;
        align-items: center;
    }
    footer .soc-icons svg {
        /* height: 30%; */
        width: 30px;
        height: 30px;
        margin-left: 10px;
        fill: var(--color-six);
    }
     /* ////////////////////////////////////////// FOOTER COPYRIGHT */ 

/* /////////////////////////////////////////////////////////////////////// */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:aliceblue
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#41424a;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#41424a;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }